<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <title>Playground</title>
</head>
<body>
    <div id='v-app'>
        <h1>Websockets Playground</h1>

        <form>
            <input v-model='id' type="text" />
            <button @click.prevent='join()'>JOIN</button>
            <button @click.prevent='leave()'>LEAVE</button>
        </form>

        <div>
            <ul>
                <li v-for='msg of messages'>
                    <p>{{ msg }}</p>
                </li>
            </ul>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#v-app',
            data: {
                url: 'http://localhost:8090/socket/monster',
                id: '',
                messages: [],
                socket: { monster: null },
            },
            methods: {
                receiveMessage(msg) {
                    this.messages.push(msg)
                },
                join() {
                    this.socket.monster.emit('joinMonster', this.id)
                    this.socket.monster.emit('monsterStatusToServer', { id: this.id })
                },
                leave() {
                    this.socket.monster.emit('leaveMonster', this.id)
                },
            },
            created() {
                this.socket.monster = io(this.url)

                this.socket.monster.on('monsterStatusToClient', (msg) => {
                    this.receiveMessage(msg)
                })

                this.socket.monster.on('joinedMonster', (id) => {
                    this.id = id
                })

                this.socket.monster.on('leftMonster', (id) => {
                    this.id = ''
                })
            }
        })
    </script>
</body>
</html>